.myBtn {
    padding: 5px 15px;
    color: white;
    font-size: 17px;
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 40px;
}

.myBtn:hover{
    background-color: rgba(0, 0, 0, 0.62);
    border: 1px solid rgba(0, 0, 0, 0.62);
}